@page "/"

<div class="container">
    <div class="settings">
        <FluentButton @onclick="ClearPlots">Clear</FluentButton>
        <FluentSwitch @bind-Value="DefaultShow">Default Show</FluentSwitch>
    </div>
    <div class="list">
        <FluentDataGrid Items="@FilteredTraces" GenerateHeader="GenerateHeaderOption.Sticky" Virtualize>
            <PropertyColumn Property="@(p => p.Name)" Sortable="true">
                <ColumnOptions>
                    <FluentSearch @bind-Value="_nameFilter" />
                </ColumnOptions>
            </PropertyColumn>
            <TemplateColumn>
                <HeaderCellItemTemplate>
                    <TriCheckbox @bind-Value="AnyVisible" Indeterminate="IsIndeterminate">Show</TriCheckbox>
                </HeaderCellItemTemplate>
                <ChildContent>
                    <input type="checkbox" @bind="context.Visible" />
                </ChildContent>
            </TemplateColumn>
        </FluentDataGrid>
    </div>
    <div class="viewer">
        <WaveformViewer Names="VisibleTraceNames" PlotService="PlotService" />
    </div>
</div>
