@page "/"

<div class="box">
    <div class="aside">
        <FluentButton @onclick="ClearPlots">Clear</FluentButton>
        <FluentSwitch @bind-Value="DefaultShow">Default Show</FluentSwitch>
        <FluentDataGrid Items="@FilteredTraces">
            <PropertyColumn Property="@(p => p.Name)" Sortable="true">
                <ColumnOptions>
                    <FluentSearch @bind-Value="_nameFilter" />
                </ColumnOptions>
            </PropertyColumn>
            <TemplateColumn>
                <HeaderCellItemTemplate>
                    <TriCheckbox @bind-Value="AnyVisible" Indeterminate="IsIndeterminate">Show</TriCheckbox>
                </HeaderCellItemTemplate>
                <ChildContent>
                    <FluentCheckbox @bind-Value="@context.Visible" />
                </ChildContent>
            </TemplateColumn>
        </FluentDataGrid>
    </div>
    <div class="plot">
        <WaveformViewer Names="VisibleTraceNames" PlotService="PlotService" />
    </div>
</div>
