@page "/license"

<h3>License</h3>

This project uses the community license of LightningChart<sup>®</sup> JS, which
can only be used for <strong>non-commercial purposes</strong>. You can find the license
<FluentAnchor Appearance="Appearance.Hypertext"
              Href="https://lightningchart.com/eula/lightningchart-js-community-license/">here</FluentAnchor>.
