[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "bosing"
dynamic = ["version"]
description = "Waveform generator for pulse sequences in quantum computing"
readme = "README.md"
requires-python = ">=3.8"
license = "MIT"
keywords = []
authors = [{ name = "kaho", email = "kaho0769@qq.com" }]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Programming Language :: C#",
    "Programming Language :: Python",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering",
    "License :: OSI Approved :: MIT License",
]
dependencies = ["numpy", "msgpack", "attrs"]

[project.urls]
Documentation = "https://github.com/kahojyun/Bosing#readme"
Issues = "https://github.com/kahojyun/Bosing/issues"
Source = "https://github.com/kahojyun/Bosing"

[tool.hatch.version]
path = "VERSION.txt"
pattern = "(?P<version>.*)"

[tool.hatch.build.hooks.custom]

[tool.hatch.build.targets.wheel]
packages = ["python/bosing"]

[tool.hatch.envs.default]
dependencies = ["scipy", "matplotlib", "ipython"]

[tool.hatch.envs.docs]
dependencies = ["sphinx", "furo"]

[tool.hatch.envs.docs.scripts]
build = "sphinx-build -M html python/docs python/docs/_build {args}"
clean = "rm -rf python/docs/_build docs/_autosummary"

[tool.hatch.envs.docs.overrides]
platform.windows.scripts = [
    'clean=rmdir /s /q python\\docs\\_build python\\docs\\_autosummary',
]

[tool.hatch.envs.test]
dependencies = ["pytest"]

[[tool.hatch.envs.test.matrix]]
python = ["3.8", "3.9", "3.10", "3.11", "3.12"]

[tool.hatch.envs.test.scripts]
run = "pytest {args}"

[tool.pytest.ini_options]
addopts = [
    "--import-mode=importlib",
]
testpaths = ["python/tests"]
