.page {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "siteheader"
    "contents";
}

.siteheader {
  grid-area: siteheader;
  background-color: var(--neutral-layer-4);
  border-bottom: calc(var(--stroke-width) * 3px) solid var(--accent-fill-rest);
  justify-content: flex-start;
  height: 3.5rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding-left: 1.5rem;
  gap: 10px;
}

.contents {
  grid-area: contents;
  overflow: auto;
}
