@inherits LayoutComponentBase

<PageTitle>PulseGen Viewer</PageTitle>

<div class="page">
    <div class="siteheader">
        <FluentAnchor Href="/" Appearance="Appearance.Neutral">Waveform Viewer</FluentAnchor>
        <FluentAnchor Href="/license" Appearance="Appearance.Hypertext">License</FluentAnchor>
    </div>
    <main>
        <ErrorBoundary>
            <ChildContent>
                @Body
            </ChildContent>
            <ErrorContent Context="ex">
                <p class="error">@ex.Message</p>
            </ErrorContent>
        </ErrorBoundary>
    </main>
</div>
