name: CI

on:
  push:
    branches:
      - main
      - alpha
      - beta
  pull_request:
    branches:
      - main
      - alpha
      - beta

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always

jobs:
  # Should run on every push and PR
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Cargo build
        run: cargo build --workspace --verbose --locked
      - name: Cargo test
        run: cargo test --workspace --verbose
      - name: Cargo fmt
        run: cargo fmt --all --check
      - name: Cargo clippy
        run: cargo clippy --workspace --all-targets -- -D warnings
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Sync project
        run: uv sync --locked --group ci
      - name: Pytest
        run: uv run pytest
      - name: Ruff format
        run: uv run ruff format --check
      - name: Ruff lint
        run: uv run ruff check --output-format=github
      - name: Basedpyright
        run: uv run basedpyright
      - name: Stubtest
        run: uv run task stubtest
      - name: Check cargo dependencies
        uses: EmbarkStudios/cargo-deny-action@v2

  # Should run on every push and PR, but only run semantic-release on push
  release:
    name: Run semantic-release
    runs-on: ubuntu-latest
    needs: test
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Semantic Release
        uses: docker://ghcr.io/codfish/semantic-release-action@sha256:327a3ce08284f9dd9b83b607e3f668dae90139e68ce90780b0a43a09d577dc3a # v4.0.1
        # Only run on push events
        if: github.event_name == 'push'
        id: semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          plugins: |
            [
              "@semantic-release/commit-analyzer",
              "@semantic-release/release-notes-generator",
              "@semantic-release/github",
            ]
    outputs:
      version: ${{ steps.semantic-release.outputs.release-version || format('0.0.0-dev+{0}', github.sha) }}
      published: ${{ steps.semantic-release.outputs.new-release-published || 'false' }}

  build:
    runs-on: ${{ matrix.os.runner }}
    needs: release
    strategy:
      matrix:
        os:
          - runner: ubuntu-latest
            name: linux
          - runner: windows-latest
            name: windows
          - runner: macos-latest
            name: macos
        target: [x86_64, aarch64]
        command: [build]
        include:
          - args: --release --out dist -i 3.10 3.13t 3.14t
            sccache: ${{ needs.release.outputs.published == 'false' }}
          - command: sdist
            os:
              runner: ubuntu-latest
            args: --out dist
            sccache: false
    steps:
      - uses: actions/checkout@v6
      - name: Replace version in Cargo.toml
        shell: pwsh
        run: (Get-Content -Path Cargo.toml) -replace '^version = "0.0.0-dev"$', 'version = "${{ needs.release.outputs.version }}"' | Set-Content -Path Cargo.toml
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          command: ${{ matrix.command }}
          target: ${{ matrix.target }}
          args: ${{ matrix.args }}
          sccache: ${{ matrix.sccache }}
          manylinux: auto
      - name: Upload wheels
        uses: actions/upload-artifact@v6
        with:
          name: wheels-${{ matrix.command == 'sdist' && 'sdist' || format('{0}-{1}', matrix.os.name, matrix.target) }}
          path: dist

  # For branch protection rules
  check:
    if: always()
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}

  # Should run only on push
  publish:
    name: Publish to PyPI
    needs:
      - check
      - release
    if: needs.release.outputs.published == 'true' && github.event_name == 'push'
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write
      attestations: write
    steps:
      - uses: actions/download-artifact@v7
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: "wheels-*/*"
      - name: Publish to PyPI
        uses: PyO3/maturin-action@v1
        with:
          command: upload
          args: --non-interactive --skip-existing wheels-*/*
